body {
  font-size: 16px;
  line-height: 1.7;
  text-align: center;
  display: -ms-flexbox;
  display: flex;
}
h1 {
  font-style: oblique;
}
h4 {
  font-style: italic;
}
footer {
  font-size: 12px;
}
